<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Users</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
       <strong><span th:text="${currentUser.getEmail()}" style="color: #f2f2f2">VALUE</span></strong>
        &nbsp
        <span style="color: #f2f2f2">with roles:</span>
        &nbsp
           <span th:text="${currentUser.getStringRoles()}" style="color: #f2f2f2">VALUE</span>
        <span style="position: absolute;left: 95%;"> <a class="navbar-brand " style="color: cadetblue"  href="/logout">Logout</a></span>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-2">
            </br>
            <div><p><a class="btn btn-primary btn-block" href="/admin" role="button" >Admin</a></p></div>
            <div><p><a  class="btn btn-link btn-block" role="button" href="/user">User</a></p></div>
        </div>

        <div class="col-10" style="background-color: #f2f2f2"><h1>Admin panel</h1>

            <div th:switch="${users}">
                <h2 th:case="null">No User found!</h2>
                <div th:case="*">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">New User</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <div class="container-fluid" style="background-color: #f2f2f2">
                                    <h5 class="p-3">All Users</h5>
                                </div>
                                <!--        <h2>Users</h2>-->
                                <div class="card">
                                    <div class="container">
                                        </br>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Surname</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>Roles</th>
                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user: ${users}">
                                                <td th:text="${user.id}">VALUE</td>
                                                <td th:text="${user.name}">VALUE</td>
                                                <td th:text="${user.surname}">VALUE</td>
                                                <td th:text="${user.email}">VALUE</td>
                                                <td th:text="${user.username}">VALUE</td>
                                                <td th:text="${user.getStringRoles()}">VALUE</td>
                                                <td><a th:href="@{/admin/getOne/(id=${user.id})}"
                                                       class="btn btn-secondary">Edit</a></td>
                                                <td><a th:href="@{/admin/getOne/(id=${user.id})}" class="btn btn-danger"
                                                       id="deleteButton">Delete</a></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card">
                                <div class="container-fluid" style="background-color: #f2f2f2  ">
                                    <h5 class="p-3">Add Users</h5>
                                </div>
                            </div>

                            <div class="card">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                    <!--                                        место для форм-->

                                    <form th:method="POST" th:action="@{/admin/new}" th:object="${user}"
                                          style="text-align: center; font-weight:bold">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" th:field="*{name}" class="form-control" id="name"
                                                   placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="surname">Surname</label>
                                            <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                                   placeholder="Surname">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                                   placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" th:field="*{username}" class="form-control" id="username"
                                                   placeholder="Username">

                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" th:field="*{password}" class="form-control"
                                                   id="password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label>Roles</label>
                                            </br>
                                            <select class="custom-select w-100" size="2" id="roles" name="roles"
                                                    multiple
                                                    aria-label="roles select">
                                                <option value="1">USER</option>
                                                <option value="2">ADMIN</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Add new user</button>
                                        </br>
                                    </form>

                                        </div>
                                        <div class="col-4"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>

<!--                    <p><a style="color: blueviolet" href="/logout">Logout</a></p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--//////////////////////Модальное окно редактирования/////////////////-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form th:action="@{/admin/update/}" th:method="PUT"style="text-align: center; font-weight:bold">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="nameEdit" name="name">
                    </div>

                    <div class="form-group">
                        <label for="surnameEdit" class="col-form-label">Surname</label>
                        <input type="text" class="form-control" id="surnameEdit" name="surname">
                    </div>

                    <div class="form-group">
                        <label for="emailEdit" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailEdit" name="email">
                    </div>

                    <div class="form-group">
                        <label for="usernameEdit" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="usernameEdit" name="username">
                    </div>

                    <div class="form-group">
                        <label for="passwordEdit" class="col-form-label">Password</label>

                        <input type="password" class="form-control" id="passwordEdit" name="password">
                    </div>

                    <div class="form-group">
                        <label>Roles</label>
                        </br>
                        <select class="custom-select w-100" size="2" id="rolesEdit" name="roles" multiple
                                aria-label="roles select">
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--////////////////////////////////////////////////конец модального окна редактирования///////////////////////-->


<!--///////////////////////////////////////////////////Модальное окно удаления////////////////////////////////-->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form th:action="@{/admin/delete/}" th:method="DELETE" style="text-align: center; font-weight:bold">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="idDelete" name="id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="nameDelete" name="name" readonly>
                    </div>

                    <div class="form-group">
                        <label for="surnameEdit" class="col-form-label">Surname</label>
                        <input type="text" class="form-control" id="surnameDelete" name="surname" readonly>
                    </div>

                    <div class="form-group">
                        <label for="emailEdit" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailDelete" name="email" readonly>
                    </div>

                    <div class="form-group">
                        <label for="usernameEdit" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="usernameDelete" name="username" readonly>
                    </div>

                    <div class="form-group">
                        <label for="passwordEdit" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="passwordDelete" name="password" readonly>
                    </div>


                    <div class="form-group">
                        <label>Roles</label>
                        </br>
                        <select class="custom-select w-100" size="2" id="rolesDelete" name="roles" multiple
                                aria-label="пример множественного выбора" disabled>
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--///////////////////////////////////////////////////конец модального окна удаления////////////////////////////////-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>