<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welcome to Index PAGE!</h1>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No User found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">

                <td th:text="${user.getId()}">VALUE</td>
                <td><a th:href="@{/admin/{id}(id = ${user.getId()})}"
                       th:text="${user.getName()}">user</a>
                </td>
                <td th:text="${user.getSurname()}">VALUE</td>
                <td th:text="${user.getEmail()}">VALUE</td>
                <td th:text="${user.getUsername()}">VALUE</td>
                <td th:text="${user.getRoles()}">VALUE</td>
                <td><a style="color: blueviolet" th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
                <td><a style="color: blueviolet" th:href="@{/admin/delete/{id}(id=${user.getId()})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    
    <p><a style="color: blueviolet" href="/admin/new">Create New User</a></p>
    <p><a style="color: blueviolet" href="/logout">Logout</a></p>

</div>