<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->

    <br/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname" style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>-->

    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->

    <br/>
    <br/>
    <label for="surname">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Surname Error</div>-->

    <br/>
    <br/>
    <label for="email">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('password)}" th:errors="*{password}">Email Error</div>-->

    <br/>
    <br/>
    <label for="email">Enter roles: </label>
    <input  type="text" th:field="*{roles}" id="roles"style=position:absolute;left:9%;/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('roles)}" th:errors="*{password}">Email Error</div>-->


    <br/>
    <br/>
    <input type="submit" value="Update!"/>


</form>

<form action="/logout" target="_blank">
    <button>Logout</button>
</form>

</body>
</html>