<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Roles</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getSurname()}">VALUE</td>
        <td th:text="${user.getEmail()}">VALUE</td>
        <td th:text="${user.getUsername()}">VALUE</td>
        <td th:text="${user.getRoles()}">VALUE</td>
        <td><a style="color: blueviolet" th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><a style="color: blueviolet" th:href="@{/admin/delete/{id}(id=${user.getId()})}">Delete</a></td>


    </tr>
    </tbody>
</table>


<!--<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value = "Delete"/>-->
<!--</form>-->

<form action="/logout" target="_blank">
    <button>Logout</button>
</form>

</body>
</html>
